@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3.5rem;
    --nav-width: 219px;

    --first-color: hsl(264, 71%, 48%);
    --first-color-light: hsl(264, 50%, 96%);
    --title-color: hsl(260, 6%, 10%);
    --text-color: hsl(260, 5%, 35%);
    --text-color-light: hsl(267, 5%, 65%);
    --body-color: hsl(266, 64%, 96%);
    --container-color: #fff;

    --body-font: 'Poppins', sans-serif;

    --normal-font-size: .938rem;
    --small-font-size: .80rem;
    --smaller-font-size: .75rem;

    @media screen and (min-width: 1024px) {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    --font-medium: 500;
    --font-semi-bold: 600;

    --z-fixed: 100;
}