/*========== FOLLOWERS ==========*/
.followers {
    &__container {
        border-radius: .5rem;
        background-color: var(--container-color);
        margin-top: 1.5rem;
    }

    &__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem .5rem;

        & > * {
            place-self: center;
        }

        @include for-extra-low-only {
            gap: 1rem 0;
            grid-template-columns: repeat(1, 1fr);
        }

        @include for-tablet-portrait-up {
            gap: 1.5rem;
            grid-template-columns: repeat(3, 1fr);
        }

        @include for-small-desktop-up {
            grid-template-columns: repeat(4, 1fr);
        }

        @include for-desktop-up {
            grid-template-columns: repeat(5, 1fr);
        }

        @include for-hight-desktop-up {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    &__data {
        padding: 1.25rem 0 .5rem .75rem;

        @include for-small-desktop-up {
            padding: 1rem 0 0 .75rem;
        }
    }

    &__image {
        display: block;
        width: 140px;
        height: 210px;
        margin-bottom: .75rem;
        border-radius: .5rem;

        @include for-small-desktop-up {
            width: 160px;
            height: 240px;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        margin-top: .5rem;

        &-avatar {
            height: 25px;
            margin-right: .25rem;

            img {
                width: 25px;
                height: 25px;
                border-radius: 50%;

                @include for-small-desktop-up {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        &-link {
            color: var(--text-color);
            font-size: var(--small-font-size);
        }
    }

    &__name {
        margin-bottom: .25rem;
        -webkit-line-clamp: 2;
        color: var(--text-color);
        transition: color .3s;

        font: {
            size: var(--normal-font-size);
            weight: var(--font-medium);
        }

        &:hover {
            color: var(--first-color);
        }
    }
}