/*========== HOME ==========*/
.home {
    &__container {
        margin-inline: 0;

        @include for-tablet-landscape-up {
            margin-inline: auto;
            display: flex;
            flex-direction: row;
        }
    }

    &__news {
        @include for-tablet-landscape-up {
            width: 60%;
            margin-right: .5rem;
        }

        &-group,
        &-preview,
        &-button {
            font-weight: var(--font-medium);
            background-color: var(--container-color);
            margin-bottom: .75rem;
        }

        &-title {
            padding: 1rem 0 .5rem .75rem;
            background-color: var(--container-color);

            @include for-tablet-landscape-up {
                padding: 1rem 0 .5rem;
            }
        }

        &-body {
            display: flex;
        }

        &-left {
            width: 4rem;
            flex: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            border-right: 1px solid var(--first-color);
            padding-right: .5rem;
            margin: .5rem;
        }

        &-date, &-month-year {
            color: var(--first-color);
        }

        &-date {
            font: {
                size: .9rem;
                weight: var(--font-semi-bold);
            }
        }

        &-month-year {
            font: {
                size: .70rem;
                weight: var(--font-medium);
            }
        }

        &-right {
            margin-right: .75rem;
        }

        &-image {
            display: block;
        }

        &-name {
            font: {
                size: 1rem;
                weight: var(--font-medium)
            }
            color: var(--text-color);
        }

        &-text {
            margin: .25rem 0 .25rem;
            font-size: .75rem;
        }

        &-data {
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            margin: 0 .5rem;
            padding: 5px 10px 5px 0;
        }

        &-number {
            margin-right: .15rem;
        }

        &-post &-body {
            align-items: center;
        }

        &-button {
            color: var(--first-color);
            padding: 1.25rem;
            text-align: center;
            display: block;
        }
    }

    &__sidebar {
        @include for-tablet-landscape-up {
            width: 40%;
        }

        padding: 0 .75rem;
        background-color: var(--container-color);

        &-title {
            margin: 1rem 0 .5rem;
        }

        &-work {
            display: flex;
            align-items: center;
            margin-bottom: .75rem;
            width: 100%;
        }

        &-img {
            width: 70px;
            height: 60px;
        }

        &-meta {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            margin-left: .25rem;
            padding: 0 .25rem;
            min-width: 0;
            color: var(--text-color);
        }

        &-subtitle {
            font: {
                size: 1rem;
                weight: var(--font-medium);
            }
            color: var(--title-color);
        }

        &-type {
            display: flex;
            align-items: center;
            font-size: .75rem;

            i {
                margin-right: .25rem;
            }
        }

        &-name {
            font-size: .65rem;
        }

        &-time, &-liks {
            font-size: .55rem;
            color: var(--text-color-light);
        }

        &-arrow {
            font: {
                size: 1.5rem;
                weight: var(--font-semi-bold);
            }
            color: var(--text-color);
        }
    }
}

.background-cover {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .5rem;
    background-size: auto auto;
    background-position: 50%;
    background-size: cover;
    vertical-align: middle;
    flex: none;
}

.--bg-1-new {
    background-image: url('../images/new-sidebar-1.jpg');
}

.--bg-2-new {
    background-image: url('../images/new-sidebar-2.jpg');
}

.--bg-3-new {
    background-image: url('../images/new-sidebar-3.jpg');
}

.--bg-4-new {
    background-image: url('../images/new-sidebar-4.jpg');
}

.--bg-5-new {
    background-image: url('../images/new-sidebar-5.jpg');
}

//.--bg-1-popular {}

.--bg-2-popular {
    background-image: url('../images/popular-sidebar-2.jpg');
}

.--bg-3-popular {
    background-image: url('../images/popular-sidebar-3.jpg');
}

.--bg-4-popular {
    background-image: url('../images/popular-sidebar-4.jpg');
}

.--bg-5-popular {
    background-image: url('../images/popular-sidebar-5.jpg');
}