/*========== HOME ==========*/
.home {
    &__container {
        margin-inline: 0;

        @include for-small-desktop-up {
            margin-inline: auto;
            display: flex;
            flex-direction: row;
        }
    }

    &__news {
        @include for-small-desktop-up {
            width: 60%;
            margin-right: .75rem;
        }

        &-group,
        &-preview,
        &-button {
            font-weight: var(--font-medium);
            background-color: var(--container-color);
            margin-bottom: .75rem;
            border-radius: .5rem;
            transition: background .4s;
        }
        
        &-button {
            @include for-small-desktop-up {
                margin-bottom: 0;
            }
        }

        &-group {
            @include for-small-desktop-up {
                padding: .75rem;
            }
        }

        &-preview {
            @include for-small-desktop-up {
                padding: .5rem .75rem .75rem .75rem;
            }
        }

        &-title {
            padding: 1.25rem 0 .5rem .75rem;
            background-color: var(--container-color);
            transition: background .4s;

            @include for-small-desktop-up {
                padding: 1rem 0 0 .75rem;
                border-radius: .5rem .5rem 0 0;
            }
        }

        &-body {
            display: flex;
        }

        &-left {
            width: 4rem;
            flex: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            border-right: 1px solid var(--first-color);
            padding-right: .5rem;
            margin: .5rem;
        }

        &-date, &-month-year {
            color: var(--first-color);
        }

        &-date {
            font: {
                size: .9rem;
                weight: var(--font-semi-bold);
            }
        }

        &-month-year {
            font: {
                size: .70rem;
                weight: var(--font-medium);
            }
        }

        &-right {
            margin-right: .75rem;
        }

        &-img {
            width: 100%;
            height: 130px;
            margin-bottom: .5rem;

            @include for-small-desktop-up {
                border-radius: .5rem;
            }
        }

        &-name {
            font: {
                size: 1rem;
                weight: var(--font-medium)
            }
            color: var(--text-color);
            -webkit-line-clamp: 2;
        }

        &-text {
            margin: .25rem 0 .75rem;
            font-size: .75rem;
            -webkit-line-clamp: 3;
        }

        &-data {
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            margin: 0 .5rem;
            padding: 5px 10px 5px 0;
        }

        &-number {
            margin-right: .15rem;
        }

        &-post &-body {
            align-items: center;
        }

        &-button {
            color: var(--first-color);
            padding: 1.25rem;
            text-align: center;
            display: block;
        }
    }

    &__sidebar {
        @include for-small-desktop-up {
            width: 40%;
        }

        padding: 0 .75rem .75rem;
        border-radius: .5rem;
        background-color: var(--container-color);
        transition: background .4s;

        &-title {
            padding: 1.25rem 0 .5rem;

            @include for-small-desktop-up {
                margin: 1rem 0 .5rem;
                padding: 0;
            }
        }

        &-work {
            display: flex;
            align-items: center;
            margin-bottom: .75rem;
            width: 100%;
        }

        &-img {
            width: 70px;
            height: 60px;
            border-radius: .5rem;
        }

        &-meta {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            margin-left: .25rem;
            padding: 0 .25rem;
            min-width: 0;
            color: var(--text-color);
        }

        &-subtitle {
            font: {
                size: 1rem;
                weight: var(--font-medium);
            }
            color: var(--title-color);
        }

        &-type {
            display: flex;
            align-items: center;
            font-size: .75rem;

            i {
                margin-right: .25rem;
            }
        }

        &-name {
            font-size: .65rem;
        }

        &-time, &-liks {
            font-size: .55rem;
            color: var(--text-color-light);
        }

        &-arrow {
            font: {
                size: 1.5rem;
                weight: var(--font-semi-bold);
            }
            color: var(--text-color);
        }

        /*========== GENRES ==========*/
        &-genres {
            display: flex;
            flex-direction: column;
            padding: 0 .75rem;
        }
        
        &-tag {
            display: block;
            float: left;
            margin: 0 .5rem .5rem 0;
            padding: 0 .5rem;
            height: 1.5rem;
            color: var(--text-color);
            background-color: var(--body-color);
            white-space: nowrap;
        }

        &-button {
            margin-top: 1rem;
            font-weight: var(--font-medium);
            color: var(--first-color);
            padding: .5rem;
            text-align: center;
            display: block;
        }
    }
}

.first-preview {
    @include for-small-desktop-up {
        border-radius: 0 0 .5rem .5rem;
    }
}

.genres {
    display: none;

    @include for-small-desktop-up {
        display: flex;
    }
}

.news-clamp {
    -webkit-line-clamp: 1;
}