/*========== SLIDER ==========*/
.slider {
    &__container {
        position: relative;
        background-color: var(--container-color);
        margin-top: 1.5rem;
    }

    &__title {
        padding: 1.25rem 0 .5rem .75rem;

        @include for-small-desktop-up {
            padding: 1rem 0 0 .75rem;
        }
    }

    &__card { 
        width: 125px;
        margin-inline: .5rem;
        padding: 1rem 0 1rem;
        display: block;

        @include for-small-desktop-up {
            width: 140px;
            padding: 1rem 0 1.5rem;
            margin-inline: 1rem;
        }
    }

    &__image {
        display: block;
        height: 200px;
        margin-bottom: .75rem;

        @include for-small-desktop-up {
            height: 220px;
        }
    }

    &__name {
        font-size: var(--normal-font-size);
        margin-bottom: .25rem;
        -webkit-line-clamp: 2;
        color: var(--text-color);
        transition: color .3s;

        &:hover {
            color: var(--first-color);
        }
    }
}

.swiper {
    &-button-prev::after,
    &-button-next::after {
        content: '';
    }

    &-button-prev,
    &-button-next {
        position: absolute;
        top: 2.6rem;
        bottom: initial;
        width: 2rem;
        height: 2rem;
        padding: 4px;
        font-size: 1.8rem;
        color: var(--first-color);
        transition: background .4s;

        @include for-small-desktop-up {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 2rem;
        }
    }

    &-button-prev {
        left: calc(100% - 5rem);
    }
}