/*========== BACKGROUND ==========*/
.background-cover {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: 50%;
    background-size: cover;
    vertical-align: middle;
}

//SLIDER
.--bg-1-slider {
    background-image: url('../images/slider-1.jpg');
}

.--bg-2-slider {
    background-image: url('../images/slider-2.jpg');
}

.--bg-3-slider {
    background-image: url('../images/slider-3.jpg');
}

.--bg-4-slider {
    background-image: url('../images/slider-4.jpg');
}

.--bg-5-slider {
    background-image: url('../images/slider-5.jpg');
}

.--bg-6-slider {
    background-image: url('../images/slider-6.jpg');
}

.--bg-7-slider {
    background-image: url('../images/slider-7.jpg');
}

.--bg-8-slider {
    background-image: url('../images/slider-8.jpg');
}

.--bg-9-slider {
    background-image: url('../images/slider-9.jpg');
}

.--bg-10-slider {
    background-image: url('../images/slider-10.jpg');
}

.--bg-11-slider {
    background-image: url('../images/slider-11.jpg');
}

.--bg-12-slider {
    background-image: url('../images/slider-12.jpg');
}

// NEWS
.--bg-1-news {
    background-image: url('../images/news-1.jpg');
}

.--bg-2-news {
    background-image: url('../images/news-2.jpg');
}

.--bg-3-news {
    background-image: url('../images/news-3.jpg');
}

.--bg-4-news {
    background-image: url('../images/news-4.jpg');
}

// NEW
.--bg-1-new {
    background-image: url('../images/new-sidebar-1.jpg');
}

.--bg-2-new {
    background-image: url('../images/new-sidebar-2.jpg');
}

.--bg-3-new {
    background-image: url('../images/new-sidebar-3.jpg');
}

.--bg-4-new {
    background-image: url('../images/new-sidebar-4.jpg');
}

.--bg-5-new {
    background-image: url('../images/new-sidebar-5.jpg');
}

// POPULAR
//.--bg-1-popular {}

.--bg-2-popular {
    background-image: url('../images/popular-sidebar-2.jpg');
}

.--bg-3-popular {
    background-image: url('../images/popular-sidebar-3.jpg');
}

.--bg-4-popular {
    background-image: url('../images/popular-sidebar-4.jpg');
}

.--bg-5-popular {
    background-image: url('../images/popular-sidebar-5.jpg');
}

// BANNER
.--bg-banner {
    background-image: url('../images/banner-bg.jpg');
}

// FOLLOWERS
.--bg-1-followers {
    background-image: url('../images/followers-1.jpg');
}

.--bg-2-followers {
    background-image: url('../images/followers-2.jpg');
}

.--bg-3-followers {
    background-image: url('../images/followers-3.jpg');
}

.--bg-4-followers {
    background-image: url('../images/followers-4.jpg');
}

.--bg-5-followers {
    background-image: url('../images/followers-5.jpg');
}

.--bg-6-followers {
    background-image: url('../images/followers-6.jpg');
}

.--bg-7-followers {
    background-image: url('../images/followers-7.jpg');
}

.--bg-8-followers {
    background-image: url('../images/followers-8.jpg');
}

.--bg-9-followers {
    background-image: url('../images/followers-9.jpg');
}

.--bg-10-followers {
    background-image: url('../images/followers-10.jpg');
}

.--bg-11-followers {
    background-image: url('../images/followers-11.jpg');
}

.--bg-12-followers {
    background-image: url('../images/followers-12.jpg');
}

/*========== LINE CLAMO ==========*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

