.container{
    max-width: 1200px;
    //margin-inline: 1.5rem;

    @include for-phone-only {
        margin-inline: 1rem;
    }

    @include for-tablet-landscape-up {
        margin-inline: 0;
    }

    @include for-desktop-up {
        margin-inline: auto;
    }
} 

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem 1rem;

    @include for-tablet-landscape-up {
        margin-inline: 6rem;
    }
}

.main {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    display: none;
}