.container {
    width: 100%;
    max-width: 1200px;

    @include for-tablet-landscape-up {
        margin-inline: 0;
    }

    @include for-desktop-up {
        margin-inline: auto;
    }
} 

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: .25rem 1rem;

    @include for-tablet-landscape-up {
        margin-inline: 6rem;
    }

    &__title {
        font: {
            size: var(--h2-font-size);
        }
        color: var(--text-color);
    }
}

.button {
    display: inline-flex;
    align-items: center;
    background-color: var(--container-color);
    padding: .5rem 1.5rem;
    border-radius: 4rem;
    color: var(--first-color);
    transition: background .3s;
    cursor: pointer;
}

.main {
    overflow: hidden;
}

::-webkit-scrollbar {
    //display: none;
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    //display: none;
}